
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkwzQRqF6EOkxgrzWYj8DdQFMOWEZSqNE4-A&usqp=CAU" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNgGHchhJF7_ECsKzP62vBnk4LRVfNyg8BEanB1_qcKJfPcmyVcJNToYivt-YN6ZkFJGA&usqp=CAU" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiqGh-3PApbOZsbSyWi8Zx4gU4cJkI5f6FgQ&usqp=CAU" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card" style="width: 18rem;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSV61AWkRYpwWQE10TBbZ__IWjUcZE0LbqmUQ&usqp=CAU" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Ice cream Cake</h2>
          <p class="title">Vennila flawer</p>
          <p>Using Ice and milk only without egg</p>
          <p><button class="button">Add to cart</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card" style="width: 18rem;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRI6BGxW0xd4o3Z2KAgXMmcJYmAw5eEZuTiKQ&usqp=CAU" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Mike Ross</h2>
          <p class="title">Chocolate Cake</p>
          <p>Using Ice and milk only with egg</p>
          <p><button class="button">Add to Cart</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card" style="width: 18rem;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHoEE57ee3_Tx2NTHYLaT15M35szJMqOwxNg&usqp=CAU" alt="John" style="width:100%">
        <div class="container">
          <h2>John Doe</h2>
          <p class="title">Chees Cake</p>
          <p>Using Ice and milk only without egg</p>
          <p><button class="button">add to cart</button></p>
        </div>
      </div>
    </div>





