
<footer class="page-footer font-small teal pt-4">

    
    <div class="container-fluid text-center text-md-left">
  
      <div class="row">
  
       
        <div class="col-md-6 mt-md-0 mt-3">
  
          <h5 class="text-uppercase font-weight-bold">Delicious Vennila flavors</h5>
          <p>Some of the more common buttercream flavours for a vanilla cake include: Fruity: strawberry, raspberry, 
            blackberry, apple, pear, passionfruit, mango, peach. 
            Tea: english breakfast, earl grey, matcha, chai. Tart: lemon, lime.</p>
  
        </div>
       
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
       
        <div class="col-md-6 mb-md-0 mb-3">
  
          
          <h5 class="text-uppercase font-weight-bold">Birthday cake's</h5>
          <p>“The birthday cake flavor is vanilla cake and sprinkles mixed in,” offers a representative for Halo Top, 
            which makes a birthday-flavored frozen dessert. 
            “The flavor profile is basically the texture of eating vanilla cake batter with sprinkles!”</p>
  
        </div>
        
  
      </div>
    
  
    </div>
 
 
    <div class="footer-copyright text-center py-3">@..
      <a href="/"> www.cakedelicious.com</a>
    </div>

  
  </footer>


