<div class="about-section">
    <h1>About Us Page</h1>
    <p>We will give best services to you</p>
    <p>Contact us any time and order any time we will give best solution</p>

  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="..." alt="Ravi" style="width:100%">
        <div class="container">
          <h2>Ravi</h2>
          <p class="title">CEO & Founder</p>
          <p>He is a Founder of company</p>
          <p>ravi@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="..." alt="Ram" style="width:100%">
        <div class="container">
          <h2>Sekar</h2>
          <p class="title">Art Director</p>
          <p>He is a directer of company</p>
          <p>sekar@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="..." alt="image" style="width:100%">
        <div class="container">
          <h2>Mohan</h2>
          <p class="title">Designer</p>
          <p>He is a designer of company</p>
          <p>Mohan@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>